.avatar {
  display: inline-block;
  color: black;
  position: relative;
}

.avatar > * {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.avatar.small {
  width: 25px;
  height: 25px;
}

.avatar.small::after {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  right: -0.15em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "23";
  font-size: 3.33333px;
  font-weight: 900;
  color: #fff;
  width: 10px;
  height: 10px;
  background-color: #b00;
}

.avatar.medium {
  width: 50px;
  height: 50px;
}

.avatar.medium::after {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  right: -0.15em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "23";
  font-size: 6.66667px;
  font-weight: 900;
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: #b00;
}

.avatar.big {
  width: 100px;
  height: 100px;
}

.avatar.big::after {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  right: -0.15em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "123";
  font-size: 13.33333px;
  font-weight: 900;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #b00;
}

.avatar--with-border {
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.avatar--with-border > * {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.avatar--with-border.small {
  width: 25px;
  height: 25px;
  margin: 2px;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #555;
          box-shadow: 0 0 0 1px #fff, 0 0 0 2px #555;
}

.avatar--with-border.small::after {
  font-family: sans-serif;
  position: absolute;
  top: -0.25em;
  right: -0.5em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "23";
  font-size: 3.33333px;
  font-weight: 900;
  color: #fff;
  width: 10px;
  height: 10px;
  background-color: #b00;
}

.avatar--with-border.medium {
  width: 50px;
  height: 50px;
  margin: 4px;
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #555;
          box-shadow: 0 0 0 2px #fff, 0 0 0 4px #555;
}

.avatar--with-border.medium::after {
  font-family: sans-serif;
  position: absolute;
  top: -0.25em;
  right: -0.5em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "23";
  font-size: 6.66667px;
  font-weight: 900;
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: #b00;
}

.avatar--with-border.big {
  width: 100px;
  height: 100px;
  margin: 8px;
  -webkit-box-shadow: 0 0 0 4px #fff, 0 0 0 8px #555;
          box-shadow: 0 0 0 4px #fff, 0 0 0 8px #555;
}

.avatar--with-border.big::after {
  font-family: sans-serif;
  position: absolute;
  top: -0.25em;
  right: -0.5em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "123";
  font-size: 13.33333px;
  font-weight: 900;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #b00;
}

.avatar-diamond {
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  overflow: hidden;
}

.avatar-diamond > * {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  left: -22%;
  bottom: 22%;
  width: 145%;
  height: 145%;
}

.avatar-diamond.small {
  width: 21.25px;
  height: 21.25px;
  margin: 3.125px;
}

.avatar-diamond.small::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-family: sans-serif;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "23";
  font-size: 3.33333px;
  font-weight: 900;
  color: #fff;
  width: 10px;
  height: 10px;
  background-color: #b00;
}

.avatar-diamond.medium {
  width: 42.5px;
  height: 42.5px;
  margin: 6.25px;
}

.avatar-diamond.medium::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-family: sans-serif;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "23";
  font-size: 6.66667px;
  font-weight: 900;
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: #b00;
}

.avatar-diamond.big {
  width: 85px;
  height: 85px;
  margin: 12.5px;
}

.avatar-diamond.big::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-family: sans-serif;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "23";
  font-size: 13.33333px;
  font-weight: 900;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #b00;
}

.avatar-diamond--round {
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  overflow: hidden;
}

.avatar-diamond--round > * {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  left: -22%;
  bottom: 22%;
  width: 145%;
  height: 145%;
}

.avatar-diamond--round.small {
  width: 21.25px;
  height: 21.25px;
  margin: 3.125px;
  border-radius: 6.25px;
}

.avatar-diamond--round.small::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-family: sans-serif;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "23";
  font-size: 3.33333px;
  font-weight: 900;
  color: #fff;
  width: 10px;
  height: 10px;
  background-color: #b00;
}

.avatar-diamond--round.medium {
  width: 42.5px;
  height: 42.5px;
  margin: 6.25px;
  border-radius: 12.5px;
}

.avatar-diamond--round.medium::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-family: sans-serif;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "23";
  font-size: 6.66667px;
  font-weight: 900;
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: #b00;
}

.avatar-diamond--round.big {
  width: 85px;
  height: 85px;
  margin: 12.5px;
  border-radius: 25px;
}

.avatar-diamond--round.big::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-family: sans-serif;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "23";
  font-size: 13.33333px;
  font-weight: 900;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #b00;
}

.avatar-skewed {
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.avatar-skewed > * {
  position: absolute;
  left: 68%;
  top: 50%;
  -webkit-transform: skewX(15deg) translate(-50%, -50%);
          transform: skewX(15deg) translate(-50%, -50%);
  width: 130%;
  height: auto;
}

.avatar-skewed.small {
  width: 25px;
  height: 25px;
  margin: 3.125px;
}

.avatar-skewed.small::after {
  font-family: sans-serif;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.3em;
  content: "23";
  font-size: 3.33333px;
  font-weight: 900;
  color: #fff;
  width: 10px;
  height: 10px;
  background-color: #b00;
}

.avatar-skewed.medium {
  width: 50px;
  height: 50px;
  margin: 6.25px;
}

.avatar-skewed.medium::after {
  font-family: sans-serif;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.3em;
  content: "23";
  font-size: 6.66667px;
  font-weight: 900;
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: #b00;
}

.avatar-skewed.big {
  width: 100px;
  height: 100px;
  margin: 12.5px;
}

.avatar-skewed.big::after {
  font-family: sans-serif;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.3em;
  content: "23";
  font-size: 13.33333px;
  font-weight: 900;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #b00;
}
/*# sourceMappingURL=avatars.css.map */