$small: 1rem;
$medium: 1.5rem;
$big: 2rem;
$bg-color: white;
.button-facebook{
background-color: rgba(23%, 35%, 60%, .85);
padding: 0.25em 0.5em;
text-decoration: none;
color: white;
font-family: sans-serif;
border: 3px solid rgb(11%, 25%, 50%);
border-radius: 3px;
    &:hover,
    &:focus{
        background-color: rgba(23%, 35%, 60%, 1);
    }
    &:active{
        background-color: rgb(11%, 25%, 50%);
        border: 3px solid rgb(23%, 35%, 60%);
    }
    &.small{
        font-size: $small;
    }
    &.medium{
        font-size: $medium;
    }
    &.big{
        font-size: $big;
    }
}
.button-twitter{
    background-color: rgb(11%, 63%, 95%);
    padding: 0.4em 1em;
    text-decoration: none;
    color: white;
    font-family: sans-serif;

        &:hover,
        &:focus{
            background-color: rgb(0%, 43%, 75%);
        }
        &.small{
            font-size: $small;
            border-radius: $small;
            margin: 2px;
            &:active{
                background-color: rgb(0%, 43%, 75%);
                box-shadow: 0 0 0 1px $bg-color, 0 0 0 2px rgb(11%, 63%, 95%);
            }
        }
        &.medium{
            font-size: $medium;
            border-radius: $medium;
            margin: 4px;
            &:active{
                background-color: rgb(0%, 43%, 75%);
                box-shadow: 0 0 0 2px $bg-color, 0 0 0 4px rgb(11%, 63%, 95%);
            }
        }
        &.big{
            font-size: $big;
            border-radius: $big;
            margin: 6px;
            &:active{
                background-color: rgb(0%, 43%, 75%);
                box-shadow: 0 0 0 3px $bg-color, 0 0 0 6px rgb(11%, 63%, 95%);
            }
        }
    }
    .button-instagram{
        background-color: rgb(22%, 59%, 94%);
        padding: 0.4em 1.5em;
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        border-radius: 9px;
            &:hover,
            &:focus{
                background-color: rgba(22%, 59%, 94%, 0.9);
            }
            &:active{
                background-color: rgba(22%, 59%, 94%, 0.7);
            }
            &.small{
                font-size: $small;
            }
            &.medium{
                font-size: $medium;
            }
            &.big{
                font-size: $big;
            }
        }
        .button-youtube{
            background-color: rgb(80%, 0%, 0%);
            text-transform: uppercase;
            padding: 0.5em 0.75em;
            text-decoration: none;
            font-weight: 500;
            color: white;
            font-family: sans-serif;
            border-radius: 3px;
                &:hover,
                &:focus{
                    background-color: rgb(70%, 5%, 5%);
                }
                &:active{
                    background-color: rgb(60%, 10%, 10%);
                }
                &.small{
                    font-size: $small/1.5;
                }
                &.medium{
                    font-size: $medium/1.5;
                }
                &.big{
                    font-size: $big/1.5;
                }
            }
            .button-ferrari{
                position: relative;
                text-transform: uppercase;
                padding: 0.25em 1.5em;
                text-decoration: none;
                font-weight: 500;
                color: #555;
                font-family: sans-serif;
                border: 2px solid #555; 
                border-radius: 2px;
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        bottom: 50%;
                        background: #555;
                        z-index: -1;
                        transition: all 0.25s ease-in-out;
                    }
                    &:hover,
                    &:focus{
                        color: $bg-color;
                    }
                    &:hover::before,
                    &:focus::before{
                        top: 0;
                        bottom: 0;
                    }
                    &:active{
                        background-color: #333;
                        border: 2px solid white;
                    }
                    &.small{
                        font-size: $small/1.5;
                    }
                    &.medium{
                        font-size: $medium/1.5;
                    }
                    &.big{
                        font-size: $big/1.5;
                    }
                }
                .button-aston{
                    position: relative;
                    text-transform: uppercase;
                    padding: 1em 2.5em;
                    text-decoration: none;
                    font-weight: 500;
                    color: rgb(25%, 25%, 25%);
                    font-family: sans-serif;
                    border: 2px solid rgba(25%, 25%, 25%, 0.5); 
                    border-radius: 2px;
                        &:hover,
                        &:focus{
                            border: 2px solid rgb(25%, 25%, 25%);
                        }
                        &.small{
                            font-size: $small/2;
                        }
                        &.medium{
                            font-size: $medium/2;
                        }
                        &.big{
                            font-size: $big/2;
                        }
                    }