.button-facebook {
  background-color: rgba(59, 89, 153, 0.85);
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  border: 3px solid #1c4080;
  border-radius: 3px;
}

.button-facebook:hover, .button-facebook:focus {
  background-color: #3b5999;
}

.button-facebook:active {
  background-color: #1c4080;
  border: 3px solid #3b5999;
}

.button-facebook.small {
  font-size: 1rem;
}

.button-facebook.medium {
  font-size: 1.5rem;
}

.button-facebook.big {
  font-size: 2rem;
}

.button-twitter {
  background-color: #1ca1f2;
  padding: 0.4em 1em;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

.button-twitter:hover, .button-twitter:focus {
  background-color: #006ebf;
}

.button-twitter.small {
  font-size: 1rem;
  border-radius: 1rem;
  margin: 2px;
}

.button-twitter.small:active {
  background-color: #006ebf;
  -webkit-box-shadow: 0 0 0 1px white, 0 0 0 2px #1ca1f2;
          box-shadow: 0 0 0 1px white, 0 0 0 2px #1ca1f2;
}

.button-twitter.medium {
  font-size: 1.5rem;
  border-radius: 1.5rem;
  margin: 4px;
}

.button-twitter.medium:active {
  background-color: #006ebf;
  -webkit-box-shadow: 0 0 0 2px white, 0 0 0 4px #1ca1f2;
          box-shadow: 0 0 0 2px white, 0 0 0 4px #1ca1f2;
}

.button-twitter.big {
  font-size: 2rem;
  border-radius: 2rem;
  margin: 6px;
}

.button-twitter.big:active {
  background-color: #006ebf;
  -webkit-box-shadow: 0 0 0 3px white, 0 0 0 6px #1ca1f2;
          box-shadow: 0 0 0 3px white, 0 0 0 6px #1ca1f2;
}

.button-instagram {
  background-color: #3896f0;
  padding: 0.4em 1.5em;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  border-radius: 9px;
}

.button-instagram:hover, .button-instagram:focus {
  background-color: rgba(56, 150, 240, 0.9);
}

.button-instagram:active {
  background-color: rgba(56, 150, 240, 0.7);
}

.button-instagram.small {
  font-size: 1rem;
}

.button-instagram.medium {
  font-size: 1.5rem;
}

.button-instagram.big {
  font-size: 2rem;
}

.button-youtube {
  background-color: #cc0000;
  text-transform: uppercase;
  padding: 0.5em 0.75em;
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-family: sans-serif;
  border-radius: 3px;
}

.button-youtube:hover, .button-youtube:focus {
  background-color: #b30d0d;
}

.button-youtube:active {
  background-color: #991a1a;
}

.button-youtube.small {
  font-size: 0.66667rem;
}

.button-youtube.medium {
  font-size: 1rem;
}

.button-youtube.big {
  font-size: 1.33333rem;
}

.button-ferrari {
  position: relative;
  text-transform: uppercase;
  padding: 0.25em 1.5em;
  text-decoration: none;
  font-weight: 500;
  color: #555;
  font-family: sans-serif;
  border: 2px solid #555;
  border-radius: 2px;
}

.button-ferrari::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 50%;
  background: #555;
  z-index: -1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.button-ferrari:hover, .button-ferrari:focus {
  color: white;
}

.button-ferrari:hover::before, .button-ferrari:focus::before {
  top: 0;
  bottom: 0;
}

.button-ferrari:active {
  background-color: #333;
  border: 2px solid white;
}

.button-ferrari.small {
  font-size: 0.66667rem;
}

.button-ferrari.medium {
  font-size: 1rem;
}

.button-ferrari.big {
  font-size: 1.33333rem;
}

.button-aston {
  position: relative;
  text-transform: uppercase;
  padding: 1em 2.5em;
  text-decoration: none;
  font-weight: 500;
  color: #404040;
  font-family: sans-serif;
  border: 2px solid rgba(64, 64, 64, 0.5);
  border-radius: 2px;
}

.button-aston:hover, .button-aston:focus {
  border: 2px solid #404040;
}

.button-aston.small {
  font-size: 0.5rem;
}

.button-aston.medium {
  font-size: 0.75rem;
}

.button-aston.big {
  font-size: 1rem;
}
/*# sourceMappingURL=buttons.css.map */