.card-basic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 300px;
    height: auto;
    padding: 20px;
    &>.frame>img{
        width: 100%;
    }
}